.product {
display: flex; /*vasakult paremale*/
justify-content: space-between ;/*ruumijaotus vahele*/
margin: 0 10%; /*ülevale alla 0, vasakult paremale 10% lehest*/
border-bottom:1px solid lightgray; /*piirjoon-
       paksus,liik  värvus*/
padding:10px 0; 
/* saab panna 
px,
 % ---- parent elemendist
 vh --- minu ekraani kõrgusest protsent  
 vw --- minu ekraani laiusest protsent /
/*padding tõukab sissepoole asju
0-üles alla, vasak parem 10
margin: 10%--- igas suunas10%tõukan */
}

.name{
width: 100px;
}

.price {
width: 50px;
}

.image {
    width: 100px
}

.quantity {
display: flex;
justify-content: space-between;
width: 120px;
height: 35px;
padding: 1.4px;
border-radius: 15px;
border: 1px solid lightgray
}

.sum {
    width: 80px
}

.button{
    width: 30px;
    height: 30px;
}
.button:hover { /*hiirega üleminek*/
    opacity: 0.7;
    cursor:pointer;
}
/* .button:active{
    opacity: 0.7;
    cursor:pointer */

.cart__bottom{
text-align: right;
margin-right: 10%;

}
